<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>senapvfehcreg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Francis Rupert</string>
	<key>description</key>
	<string>Select HTML chunks easily.</string>
	<key>name</key>
	<string>France-SelectSomething</string>
	<key>uuid</key>
	<string>69489B81-21F9-48FA-983D-77B36B175842</string>
</dict>
</plist>
